@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

/* font-family: 'Castoro Titling', cursive;
font-family: 'PT Serif', serif; */
/* font-family: 'Libre Franklin', sans-serif; */

* {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --bg: #FAF8F1;
    --dark: #FAEAB1;
    --darker: #E5BA73;
    --darkest: #C58940;
}

.home>h1 {
    font-family: 'PT Serif', serif;
    color: var(--darker);
    letter-spacing: 2px;
    word-spacing: 1rem;
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 300;
    font-style: initial;
}

.card-section {
    width: 350px;
    height: 500px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    box-shadow: 14px 18px 15px 10px rgba(0, 0, 0, 0.25);
    margin-top: 4rem;
}

.card-section>img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    background-color: transparent;

}

.card-section>h1 {
    font-family: 'Castoro Titling', cursive;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0 15px;
    text-align: center;
    color: var(--darkest);
}

.input-section>input {
    width: 400px;
    height: 2rem;
    margin: 3rem 0 2rem 0;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--darkest);
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    font-family: 'Castoro Titling', cursive;
    margin-bottom: 0;
}


.home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 95vw;
    min-height: 700px;
}

.card-section>div {
    font-family: 'Libre Franklin', sans-serif;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0 40px;
}

.card-section>div>h3 {
    background-color: transparent;
    font-size: 1rem;
}

.card-section>div>p {
    background-color: transparent;
    font-size: 1rem;
}

.card-section>div>h3>em {
    background-color: transparent;
    font-style: normal;
    font-size: 1.3rem;
    opacity: 0.7;
    color: var(--darkest);

}

.card-section>div>p>em {
    background-color: transparent;
    font-style: normal;
    font-size: 0.7rem;
    color: var(--darkest);

}

.card-section>h3 {
    font-family: 'Libre Franklin', sans-serif;
    background-color: transparent;
    width: 80%;
    font-size: 1rem;
    text-align: right;
    font-weight: 400;
    opacity: 0.8;
}

.focus-section {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(90.84% 90.93% at 0% 9.16%, rgba(197, 137, 64, 0.82) 0%, rgba(250, 234, 177, 0.58) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus {
    width: 35%;
    min-height: 30rem;
    border-radius: 18px;
    box-shadow: 14px 18px 15px 10px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

.focus>div:first-of-type {
    display: flex;

}

.focus>div:first-of-type>img {
    width: 200px;
    object-fit: contain;
    height: 200px;
}

.focus>div:first-of-type>div>h1 {
    font-family: 'Castoro Titling', cursive;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.focus>div:first-of-type>div>h3 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.9rem;
    text-align: right;
}

.focus>div:first-of-type>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.focus>div:first-of-type>div>button {
    width: 30%;
    margin-left: 1.5rem;
}

.focus>div:first-of-type>div>button>a {
    color: white;
    background: transparent;
    text-decoration: none;
}

.focus>p {
    font-family: 'PT Serif', serif;
    margin-top: 2rem;
}



.focus>button>a {
    background: transparent;
    color: white;
    text-decoration: none;

}